/.idea/
/resources/coverage/
/resources/logs/
/vendor/
/build.eps
/build.png
/build.properties.ini
/build.puml
/build.svg
/cc-test-reporter
/composer.lock
/composer.phar
/phing.phar
/phpunit.phar
/bin/phpunit
/bin/phpunit.phar
/bin/phpstan
/bin/phing
/bin/behat
/coverage/codeclimate.json
